.config
	%h1
		A Propos
	%p
		Noticia est une application web permettant d'afficher des flux rss et atom. Il est destiné à être une page d'accueil pour navigateur web.
	%h2
		Version
	%p 
		Vous utilisez la version 0.2 de noticia.
	%h2
		Licence
	%p
		Noticia est développé sous licence 
		%a{:href => "http://www.gnu.org/licenses/gpl-3.0.fr.html", :target => "_blank"}
			GNU GPL v3 
		ou ultérieur.
	%h2
		Développeur
	%p
		Jean-Noël Rouchon - 
		%a{:href => "http://developpement.mithril.re/Noticia", :target => "_blank"}
			Mithril Informatique
	%form{ :action => "/retour", :method => "post"}
		%button.btn.btn-primary{:type => "submit"}
			Retour
