.config
	%h1
		Nouveau Flux (RSS ou ATOM)
	%form{ :action => "/add_flux", :method => "post", :class => "form-inline"}
		.form-group
			%input.form-control{:type => "text", :name => "rss", :id => "rss"}
			%button.btn.btn-primary{:type => "submit"}
				Ajouter
			%a{:href => "/"}
				%button.btn.btn-default
					Annuler

:javascript
	document.getElementById('rss').focus();
