.config
	%h1
		Nouveau Lien
	%form{ :action => "/add_lien", :method => "post"}
		%label
			Titre :
		%input{:type => "text", :name => "titre", :id => "titre", :class => "button"}
		%br
		%label
			Lien :
		%input{:type => "text", :name => "lien", :class => "button"}
		%br
		%label
			Groupe :
		%select{:name => "groupe", :class => "button"}
			= Haml::Engine.new(groupe_options).render
		%a{:href => "/add_groupe"}
			%img{:src => "images/add.png", :title => "Ajouter un groupe"}
		%br
		%input{:type => "submit", :value => "Ajouter", :class => "button"}
		%a{:href => "/"}
			%input{:type => "button", :value => "Annuler", :class => "button"}

:javascript
	document.getElementById('titre').focus();
