.config
	%h1
		Nouveau groupe de liens
	%form{ :action => "/add_groupe", :method => "post"}
		%label
			Titre :
		%input{:type => "text", :name => "titre", :id => "titre", :class => "button"}
		%br
		%input{:type => "submit", :value => "Ajouter", :class => "button"}
		%a{:href => "/add_lien"}
			%input{:type => "button", :value => "Annuler", :class => "button"}
			
:javascript
	document.getElementById('titre').focus();
