- @flux.each do |flux|
	.col-md-3
		.flux
			%h1
				- begin
					%a{:href => flux[:lien], :target => "_blank"} 
						= flux[:titre] 
				- rescue
				/
					%a{:href => "/modifier_flux/#{flux[:id]}"}
						.modifier
			- flux[:articles].each do |article|
				- begin
					%a{:href => article.lien, :target => "_blank"}
						&= article.titre
					%br
				-rescue
					- p "Erreur de chargement d'un article #{article.id}"
.col-md-3
	%a{:href => "/add_flux"}
		%img{:src => "images/add.png"}
