%html  
	%head
		%title Noticia - RSS Reader
		%link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		%link(rel="stylesheet" type="text/css" href="css/style.css")
	%body
		.bandeau-haut
			.logo
				.boutons
					- if admin?
						%a{:href => "/refresh"}
							%img{:src => "images/refresh.png", :alt => "refresh", :title => "Rafraichir les flux", :class => "bouton_img"}
					%a{:href => "/about"}
						%img{:src => "images/about.png", :alt => "about", :title => "A propos", :class => "bouton_img"}
					- if admin?
						%a{:href => "/logout"}
							%img{:src => "images/logout.png", :alt => "Déconnexion", :title => "Déconnexion", :class => "bouton_img"}
			.bandeau-droit
				%h1
					Recherche
				%form{ :action => "/recherche", :method => "post"}
					%input{:type => "text", :name => "search", :id => "search", :class => "text"}
					%input{:type => "image", :src => "images/find.png", :name => "submit", :alt => ">"}
		.global
			=yield
:javascript
	document.getElementById('search').focus();
