.config
	%h1
		Login
	%form.form-inline(action="/login" method="post")
		.col-md-6
			%label
				Code utilisateur :
		.col-md-6
			%input.form-control{:type => "text", :name => "username"}
		.col-md-6
			%label
				Mot de passe :
		.col-md-6
			%input.form-control{:type => "password", :name => "password"}
		.col-md-6
		.col-md-6
			%button.btn.btn-primary(type="submit")
				Connexion
			%a.btn.btn-default{:href => "/"}
				Annuler
