.config
	%h1
		Déconnexion
	%form(action="/logout" method="post")
		Voulez-vous réellement vous déconnectez ?
		%br
		%button.btn.btn-primary{:type => "submit"}
			Déconnexion
		%a.btn.btn-default{:href => "/"}
			Annuler
