.config
	%h1
		Modifier le flux
	%form{ :action => "/add", :method => "post"}
		%input{:type => "text", :name => "rss", :class => "text"}
		%input{:type => "submit", :value => "Ajouter", :class => "button"}
