:javascript
	function message() {
		alert('Le rafraichissement des flux va avoir lieu.\nAprès avoir cliqué sur OK veuillez patienter,\nle processus peut prendre plusieurs minutes...');
	}
.config
	%h1
		Rafraîchir les flux
	%h2
		Automatiquement
	%p 
		Pour automatiser le rafraichissement des flux, vous devez rajouter le script cron.sh à votre service cron.
		%br
		Par exemple :
		%br
		0 * * * * /home/http/noticia/cron.sh
		%br
		pour une mise à jour des flux toutes les heures.
	%h2
		Manuellement
	%p
		Si vous voulez forcer le rafraichissement manuellement cliquez sur le bouton ci-dessous.
	%form{:action => "/refresh", :method => "post"}
		%button.btn.btn-primary{:type => "submit", :onClick => "message()"}
			Rafraîchir
		%a.btn.btn-default{:href => "/"}
			Retour
