@font-face {
    font-family: 'LeanderRegular';
    src: url('fonts/Leander-webfont.eot');
    src: url('fonts/Leander-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Leander-webfont.woff') format('woff'),
         url('fonts/Leander-webfont.ttf') format('truetype'),
         url('fonts/Leander-webfont.svg#LeanderRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OverlockRegular';
    src: url('fonts/Overlock-Regular-OTF-webfont.eot');
    src: url('fonts/Overlock-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Overlock-Regular-OTF-webfont.woff') format('woff'),
         url('fonts/Overlock-Regular-OTF-webfont.ttf') format('truetype'),
         url('fonts/Overlock-Regular-OTF-webfont.svg#OverlockRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	background-color: black;
	color: white;
	margin: 0px;
	font-family: 'OverlockRegular', "Trebuchet MS","Times New Roman", sans-serif;
}

h1, h1 a, h1 a:visited, h1 a:hover
{
	font-size: 1.2em;
	color: red;
}

h2
{
	font-size: 1.1em;
	color: red;
}

.text
{
	color: black;
}

a
{
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

a:visited
{
	color: #999999;
}

a:hover
{
	color: green;
}

.bandeau-haut
{
	background : url("../images/pattern.jpg");
	height: 150px;	
	width: 100%;
}

.logo
{
	background : url("../images/noticia.png") no-repeat 50% 15px;
	height: 150px;	
}

.boutons
{
	margin-left: 50%;
	padding-left: 60px;
	padding-top: 25px;
	width: 22px;
}

.bouton_img
{
	margin-bottom: 10px;
}

.global
{
	width: 100%;
	padding-top: 15px;
}

.corps
{
	position: relative;
	float: left;
	padding-left: 5px;
	width: 80%;
	height: 100%
}

.bandeau-droit
{
	position: absolute;
	right: 10px;
	top: 0px;
	float: right;
	margin-top: 10px;
	width: 250px;
	border-radius: 10px;
	padding: 15px;
	background-color: black;
}

.flux
{
  background-color: #222222;
	border-radius: 10px;
	padding: 10px; 
	margin: 10px;
	margin-top: 10px; 
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}

.col-xs-height {
  display: table-cell;
  float: none !important;
}

.fluxold
{
	position: relative; 
	padding: 10px; 
	margin: 10px;
	margin-top: 10px; 
	width: 29%; 
	float: left;
	background-color: #222222;
	border-radius: 10px;
}

.add
{
	position: relative; 
	padding: 10px; 
	margin: 10px;
	margin-top: 10px;  
	float: left;
	background-color: #222222;
	border-radius: 10px;
}

.saut_ligne
{
	clear: left;
}

.config
{
	float:left;
	position:relative;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	padding: 10px;
	background-color: #222222;
	border-radius: 10px;
}

.modifier
{
	display: inline-block;
	background:url("/images/icon-write_grey.png");
  	width: 16px;
  	height: 16px;
}

.modifier:hover
{
	display: inline-block;
	background:url("/images/icon-write.png");
  	width: 16px;
  	height: 16px;
}

.button
{
	margin-top: 15px;
}
